blockquote  { 
	position: relative;
		border-left: solid 0px _palette(border);
		font-style: italic;
		margin-left: 0;}

blockquote:hover { background: #ff3333; }
blockquote em { display: none; color: #FFFFFF; }
blockquote:hover em { display: block; position: absolute; width: auto; background: #aaa; height: auto; color: #FFFFFF; padding: 0 5px; z-index: 99 !important; left: -3em;}
@media only screen and (max-width: 600px) {
	blockquote:hover em {
  	bottom: 3em;
  	width: 80vw;
		left: 50%;
  	-webkit-transform: translateX(-50%);}}
@media only screen and (min-width: 600px) {
	blockquote:hover em {
  	bottom: 1.5em; }}
blockquote img { display: none; color: #FFFFFF; }
blockquote:hover img { display: block; position: absolute; width: auto; background: #aaa; height: auto; color: #FFFFFF; padding: 0 5px;  z-index: 99 !important;}
@media only screen and (max-width: 600px) {
	blockquote:hover img {
		max-height: 75vw;
		left: 50%;
  	-webkit-transform: translateX(-50%);
  	bottom: 4em;}}
@media only screen and (min-width: 600px) {
	blockquote:hover img {
		max-width: 75vh;
		left: 100%;
  	-webkit-transform: translateX(-100%);}}

